<div class="footer">
    <div class="footer-content">
        <p>&copy; 2023 LAKAJUAR. Todos los derechos reservados.</p>
        <div class="social-media">
            <a href="https://www.instagram.com/lakajuar_acc/" target="_blank">Instagram</a>
            <a href="https://lakajuar_acc.com.py/facebook">Facebook</a>
            <a href="https://lakajuar_acc.com.py/twitter">Twitter</a>
        </div>
    </div>
    <div class="footer-contact">
        <h4>Contacto</h4>
        <p>Email: contacto@lakajuar.com</p>
        <p>Teléfono: +123 456 7890</p>
    </div>
</div>